.carDetail-container{
width: 259px;
height: 200px;
font-size: large;
padding-bottom:100px;
}
.detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    margin: 0.3rem;
    border: 1px solid #efefef;
    border-radius: 0.2rem;
    min-width: 160px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    background-color: #f8f8ff;
    height: 300px;
  }
  .cars-look{
    display:flex;
  }
  .car-card img{
    width: 120px;
    border-radius: 0.2rem;
  }
  .details-btn{
    background-color: #FF0000;
    color: #eee;
    border-radius:2.2rem;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 350;
  }
  .large-font{
    font-size:xxx-large;
  }
  .top-20{
    position:relative;
    top:20vh;
  }
  ion-icon.active{
    animation:like 0.5s 1;
    fill:red;
    stroke:none;
  }
  ion-icon{
    fill:transparent;
    stroke:black;
    stroke-width:30;
    transition:all 0.5s;
  }
  
  
  @-webkit-keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.2); }
    100% { transform: scale(1.1); }
  }