.contact-us-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-divider {
  border: solid 1px;
  display: block;
  width: 110px;
  height: 1px;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  margin: 25px auto;
  border-color: #333333;
}

.contact-us-first {
  font-style: italic;
  font-weight: 500;
  text-align: center;
  margin: 3rem;
  font-size: 21px;
}

.address-container {
  display: flex;
  align-items: flex-start;
}

.address-details {
  float: left;
  width: 45%;
}

.contact-us-contact-information {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us {
  margin: 15px;

}

.contact-us h2 {
  text-align: center;
}


form {
  width: 300px;

}

.form-element {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #FF0000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4caf50;
}

.form-message textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
}

@media only screen and (max-width: 1024px) {
  .contact-uscontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    width: 100%;
  }

}

.submitform-s {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 100px;
  font-weight: 400;

  flex-wrap: wrap;


}