.drop-down{
    display: inline-block;
    z-index: 10000;
    position: relative;
}
.drop-down-selector{
  border-radius: 5px;
  background-color: #FF0000;
  color:#eee;
  padding: 10px;
  list-style: none;
  margin-top: 5px;
  position:absolute;


}
.drop-down-selector img{
 width:80px;
 height: 80px;
 margin-right: 5px;
}
.drop-down-btn {
    border-radius: 5px;
    background-color:#FF0000;
    color: #eee;
    padding:10px;
    border:none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin: 0 2rem;
}